.PokemonCard {
    --color-background: transparent;
    --legth: 80px;

    padding: 2rem;
    min-height: 272px;

    background-color: var(--color-background);
    color: #fff;
    border-radius: 20px;

    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.PokemonCard__visible {
    opacity: 1;
    visibility: visible;
}

.PokemonCard__Grass {
    --color-background: rgb(72, 208, 176);
}

.PokemonCard__Fire {
    --color-background: rgb(255, 99, 58);
}

.PokemonCard__Water {
    --color-background: rgb(0, 150, 255);
}

.PokemonCard__Electric {
    --color-background: rgb(255, 255, 0);
}

.PokemonCard__Normal {
    --color-background: rgb(178, 178, 178);
}

.PokemonCard__Poison {
    --color-background: rgb(128, 0, 128);
}

.PokemonCard__Fighting {
    --color-background: rgb(192, 57, 43);
}

.PokemonCard__Ground {
    --color-background: rgb(205, 133, 63);
}

.PokemonCard__Flying {
    --color-background: rgb(138, 138, 244);
}

.PokemonCard__Ice {
    --color-background: rgb(112, 216, 255);
}

.PokemonCard__Bug {
    --color-background: rgb(102, 255, 102);
}

.PokemonCard__Psychic {
    --color-background: rgb(255, 128, 0);
}

.PokemonCard__Rock {
    --color-background: rgb(128, 128, 128);
}

.PokemonCard__Ghost {
    --color-background: rgb(112, 88, 152);
}

.PokemonCard__Dragon {
    --color-background: rgb(112, 56, 248);
}

.PokemonCard__Dark {
    --color-background: rgb(70, 70, 70);
}

.PokemonCard__Steel {
    --color-background: rgb(192, 192, 192);
}

.PokemonCard__Fairy {
    --color-background: rgb(251, 142, 245);
}

.PokemonCard__Shadow {
    --color-background: rgb(0, 0, 0);
}

.PokemonCard__Unknown {
    --color-background: linear-gradient(to right, #f8f9fa, #f1f2f4);
}

.PokemonCard__title {
    margin: 0 0 1rem;

    font-size: 2.5rem;
    text-shadow: 0 0 3px black;

    cursor: pointer;
}

.PokemonCard__container {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.PokemonCard__ContainerImg {
    position: relative;
    z-index: 0;

    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PokemonCard__ContainerImg img {
    width: 100%;
    max-width: 100px;
    max-height: 100px;
}

.PokemonCard__ListStats {
    position: relative;
    z-index: 1;

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    font-size: 1.2rem;

    list-style-type: none;
}

.PokemonCard__ItemStat {
    width: fit-content;
    padding: 0.5rem 1rem;

    text-shadow: 0 0 3px black;

    background-color: rgba(213, 211, 211, 0.3);
    border-radius: 13px/50%;
}

.PokemonCard__ItemStat span {
    text-shadow: 0 0 3px black;
    font-weight: bolder;
}

.PokemonCard_Pokeball {
    position: absolute;
    z-index: -1;

    width: var(--legth);
    aspect-ratio: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    box-shadow: 0 0 0 calc(0.3 * var(--legth)) var(--color-background),
        0 0 0 calc(0.9 * var(--legth)) rgba(255, 255, 255, 0.4);
}

.PokemonCard_Pokeball_rectangle {
    width: calc(0.9 * var(--legth));
    height: calc(0.3 * var(--legth));
    background-color: var(--color-background);
    box-shadow: calc(1.9 * var(--legth)) 0 0 var(--color-background);

    transform: translateX(-100%);
}

/*================== Loader Pokemon Card ==================*/
.PokemonCard__loading {
    min-height: 272px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.PokemonCard__loader {
    height: 100%;
    aspect-ratio: 1;

    border: 2px solid black;
    border-radius: 50%;

    overflow: hidden;

    animation: Pokeball-loader 2s infinite ease-in-out alternate backwards;
}

@keyframes Pokeball-loader {
    0% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(45deg);
    }
    75%{
        transform: rotate(-45deg);
    }
}

.PokemonCard__loader__up {
    position: relative;

    height: 50%;

    background-color: #da4432;
    border-bottom: 20px solid #434c4a;

    transition: transform 0.3s ease;
}

.PokemonCard__loader__down {
    height: 50%;
    
    background-color: #f8f9fa;
    border-top: 20px solid #434c4a;

    transition: transform 0.3s ease;
}

.PokemonCard__loader__pin {
    position: absolute;
    bottom: 0;
    left: 50%;

    width: 80px;
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #434c4a;
    border-radius: 50%;
    transform: translate(-50%,calc(50% + 20px));
}

.PokemonCard__loader__subpin {
    width: 50%;
    aspect-ratio: 1;

    background-color: #f8f9fa;
    border-radius: 50%;
}

.PokemonCard__loader__open__up {
    transform: translateY(-100%)
}

.PokemonCard__loader__open__down {
    transform: translateY(100%)
}